@model IEnumerable<Handled.Models.Incident>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.BicycleRider)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CarDriver.Driver.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarDriver.Driver.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BicycleRider.Bicycle.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BicycleRider.Bicycle.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.BicycleRider.BicycleRiderId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CarDriver.Driver.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarDriver.Driver.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BicycleRider.Bicycle.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BicycleRider.Bicycle.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDate)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.IncidentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IncidentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
