@model IEnumerable<Handled.Models.Bicycle>

@{
    ViewData["Title"] = "Index";
}

<h2>The Garage</h2>
<p>Here you will find all your bicycles; those you are currently riding and those gathering dust</p>

<p>
    <a asp-action="Create">New Bike Day!</a>
</p>
<p>
    <a asp-controller="BicycleRiders" asp-action="Index">Tell us what you're currently riding.</a>
</p>
    <div class="card-deck w-50">
        @foreach (var item in Model)
        {
           
            <div class="card bg-warning text-white">
                <img class="card-img-top img-fluid" src="~/images/@item.ImagePath" alt="Bicyle image">
                <div class="card-body">
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.ManufactureYear)
                        @Html.DisplayFor(modelItem => item.Make)
                        @Html.DisplayFor(modelItem => item.Model)
                    </p>
                    <div class="card-footer">
                  
                        <a asp-action="Details" asp-route-id="@item.BicycleId" class="card-link text-dark">Specs</a>
                        <a asp-action="Delete" asp-route-id="@item.BicycleId" class="card-link text-dark">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>






