@model IEnumerable<Handled.Models.BicycleRider>

@{
    ViewData["Title"] = "Index";
}

<h2>I am currently riding these bicycles:</h2>

<p>
    <a asp-action="Create">Add a new daily rider</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cyclist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicycle.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicycle.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cyclist.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bicycle.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bicycle.Model)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BicycleRiderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BicycleRiderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
